{% do requirements.append("requests") %}
{% do imports.append("requests") %}

{% macro code() %}
# Request data from API endpoint.
{% if api_query %}
data = requests.get("{{ api_base_url }}", {{ api_query }})
{%- else %}
data = requests.get("{{ api_base_url }}")
{%- endif %}
{%- if content_type in ["json"] %}
.json()
{% elif content_type in ["csv", "geojson"] %}
.text
{% else %}

{% endif %}
{% endmacro %}
