{% do requirements.append("tabulate") %}
{% do imports.append("csv") %}
{% do imports.append(("tabulate", "tabulate")) %}

{% macro code() %}
# Print a nice table.
dialect = csv.Sniffer().sniff(data)
print(tabulate(csv.reader(data.splitlines(), dialect)))
{% endmacro %}
