{% do requirements.append("geojson") %}
{% do requirements.append("tabulate") %}
{% do imports.append("geojson") %}
{% do imports.append(("tabulate", "tabulate")) %}

{% macro code() %}
geojson_data = geojson.loads(data)

# List features in a nice table.
features = []

for feature in geojson_data.features:
    if not feature.geometry:
        continue

    features.append(
        list(feature.properties.values()) # Include feature properties
        + [
            feature.geometry.type,
            feature.geometry.coordinates,
        ]
    )

print(tabulate(features))
{% endmacro %}
