{% do requirements.append("geojson") %}
{% do requirements.append("tabulate") %}
{% do imports.append("geojson") %}
{% do imports.append(("tabulate", "tabulate")) %}

{% macro code() %}
geojson_data = geojson.loads(data{% if dataset_type == "api" %}.text{% endif %})
features = [
    list(feature.properties.values())[:1] # Include first property (if any)
    + [
        feature.geometry.type,
        feature.geometry.coordinates,
    ]
    for feature in geojson_data.features
]
print(tabulate(features))
{% endmacro %}
